* {
  font-family: 'Gotham Pro';
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.firstBlock {
  background-image: url(../img/design/firstBlock.png);
  height: 1080px;
  overflow: hidden;
}

.firstBlockTop {
  display: flex;
  justify-content: space-between;
}

.firstBlockRight p {
  text-align: center;
  font-weight: 400;
  margin-top: 34px;
  font-size: 18px;
  margin-left: 20px;
  height: 30px;
}

.selectedLang {
  border-bottom: 3px solid #3335CF;
}

.firstBlockRightPhone {
  padding-left: 80px;
  width: 186px;
}

.firstBlockRightPhone a {
  font-weight: bold;
}

.firstBlockLeft {
  display: flex;
  max-width: 980px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 100px;
  margin-top: 26px;
}
.firstBlockRight {
 height: 68px;
 display: flex;
 padding-right: 100px;
 height: 68px;
 color: white;
}

.firstBlockRightMenu {
  display: none;
}

.firstBlockButtons {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  width: 561px;
  margin-top: 35px;
  margin-left: 30px;
}

.firstBlockMainLeftText {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 97px;
  color: white;
  position: relative;
  z-index: 1;
}

.firstBlockMainLeft {
  margin-left: 100px;
}


.firstBlockMain {
  display: flex;
  margin-top: 386px;
  justify-content: space-between;
}

.firstBlockMainLeftCircle {
  width: 108px;
  height: 108px;
  background-color: #FDC600;
  border-radius: 50%;
  position: relative;
  bottom: 27%;
  z-index: 0;
}

.secondBlockTop *{
  color: #A4A4A4;
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
line-height: 26px;
}

.secondBlockTop {
  display: flex;
  margin-top: 70px;
  margin-left: 80px;
}

.secondBlockMainRight, .secondBlockMain {
  display: flex;
}
.secondBlockMain {
  margin-top: 44px;
}

.secondBlockMainRight {
  margin-left: 260px;
}

.secondBlockMainRight p{
  max-width: 600px;
  font-size: 18px;
  line-height: 25px;
}

.secondBlockMainRight h2{
  font-weight: bold;
  font-size: 30px;
}

.secondBlockMainPinkCircle {
  background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  left: -78px;
  position: relative;
}

.secondBlockMainLeft {
  overflow-x: hidden;
}

.secondBlockRightTask {
  margin-right: 200px;
}

.secondBlockMainLeft {
  position: relative;
  bottom: 110px;
}

.thirdBlockTop {
  background-image: url(../img/design/designThirdBlockTop.png);
  background-repeat: no-repeat;
  height: 1148px;
  overflow: hidden;
}

.thirdBlockTopVisitka > img:nth-child(1) {
margin-top: 106px;
margin-left: 150px;
}

.thirdBlockTop {
  display: flex;
  color: white;
}

.thirdBlockTopCreate > h2:nth-child(1) {
  font-size: 55px;
  font-weight: 400;
  max-width: 610px;
  margin-bottom: 35px;
}

.thirdBlockTopCreate > p:nth-child(2) {
  max-width: 548px;
  font-size: 18px;
  line-height: 25px;
}

.thirdBlockTopCreate {
  margin-top: 466px;
  margin-left: 77px;
}

.thirdBlockTopBlueCircle {
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  width: 430px;
  height: 430px;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 245px;
}

.fourthBlock {
  background-image: url(../img/design/fourthBlock.png);
  height: 2934px;
  position: relative;
  bottom: 650px;
  z-index: 0;
}

.thirdBlock {
  position: relative;
  z-index: 1;
}
.fourthBlockIdea {
  padding-top: 755px;
  margin: 0 auto;
  max-width: 403px;
}

.thirdBlockLines {
  position: relative;
  top: 250px;
  left: 577px;
}

.fourthBlockMain {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  position: relative;
  bottom: 30px;
  z-index: -1;
}

.fourthBlockMainFirst, .fourthBlockMainThird{
  margin: 0px 120px 120px 0px;
}

.fourthBlockMainSecond, .fourthBlockMainFourth{
  margin: 0px 0px 120px 0px;
}
.fourthBlockDown {
  max-width: 205px;
  margin: 0 auto;
}

.fifthBlockBlueCircle {
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  width: 398px;
  height: 398px;
  border-radius: 50%;
  position: relative;
  left: 950px;
}
.fifthBlock {
  position: relative;
  bottom: 790px;
  z-index: -1;
}

.fifthBlockTop h2 {
  font-size: 55px;
  line-height: 63px;
  font-weight: 500;
  width: 550px;
}

.fifthBlockMainElements > p:nth-child(2) {
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
  width: 263px;
}

.fifthBlockMainElements > p:nth-child(3) {
  width: 250px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #686868;
}
