@media (max-width: 1767px) {
  .fifthBlockRightDown {
    right: 1px;
    top: 0px;
  }
  .containerSticky {
    height: 3638px;
  }
  .circleContainer {
    transform: scale(0.7);
  }
  .secondBlockLeftMenu {
    margin-left: 50px;
  }
    .fifthBlockRightUp {
    margin-bottom: 79px;
  }
  .fourthBlockMainFirst, .fourthBlockMainSecond, .fourthBlockMainThird, .fourthBlockMainFourth {
    height: 480px;
    width: 397px;
  }
  .fourthBlockMainFirst div {
    margin: 52px 32px;
  }

  .fourthBlockMainText {
    padding-top: 34px;
    padding-left: 34px;
    font-size: 18px;
    margin: 0;
  }
  #fourthBlockMainFirstImg > img:nth-child(1) {
    margin: 40px;
  }
  #fourthBlockMainFirstImg > img:nth-child(1) {
    width: 266px;
  }
  #fourthBlockMainSecond > div:nth-child(2) > img:nth-child(1) {
    width: 322px;
  }
  .fourthBlockMainSecond > div:nth-child(2) {
    margin: 100px auto;
    margin: 84px 37px;
  }
  .h2FourthBlock {
font-size: 20px;
line-height: 0px;
}
.pFourthBlock {
font-size: 13px;
line-height: 16px;
max-width: 307px;
}
#fourthBlockMainFirst {
  margin-bottom: 0px;
}

#fourthBlockMainThird {
  margin-top: 0px;
}
#fourthBlockMainThird > div:nth-child(2) > img:nth-child(1) {
 width: 257px;
 height: 298px;
}
.fourthBlockMainThird > div:nth-child(2) {
  margin: 39px 70px;
}
#fourthBlockMainFourth > div:nth-child(2) > img:nth-child(1) {
  width: 166px;
}
.fourthBlockMainFourth > div:nth-child(2) {
  margin: 16px 115px;
}

}

@media (max-width: 1575px) {
  .fifthBlock {
    height: 1237px;
  }
  .fifthBlockMain {
     transform: scale(0.9);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 300px;
  }
  .fifthBlockRightDown {
    top: -1px;
  }
}

@media (max-width: 1548px) {
  .circleContainer {
    transform: scale(0.6);
  }
}

@media (max-width: 1485px) {
  .containerSticky {
    height: 3413px;
  }
}

@media (max-width: 1422px) {
  .fifthBlock {
    height: 1037px;
  }
  .fifthBlockMain {
     transform: scale(0.8);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 200px;
  }
  .fifthBlockRightDown {
    top: 0px;
  }
}

@media (max-width: 1386px) {
  .thirdBlockImage > img:nth-child(1) {
  width: 300px;
  }
  .firstBlockRightPhone {
    padding-left: 10px;
  }
  .firstBlockButtons {
    width: 373px;
  }
  .firstBlockButtons {
      margin-right: 72px;
  }
}

@media (max-width: 1230px) {

}

@media (max-width: 1356px) {
  .trekutnik {
    top: 126px;
  }
}



@media (max-width: 1290px) {

  .firstBlockRight {
      padding-right: 30px;
  }

}

@media (max-width: 1269px) {
  .fifthBlock {
    height: 937px;
  }
  .fifthBlockMain {
     transform: scale(0.7);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 150px;
  }
}

@media (max-width: 1244px) {
  .thirdBlockImage > img:nth-child(1) {
  display: none;
  }
}

@media (max-width: 1161px) {
  .checkAllCases{
    position: inherit;
    margin: 0px;
  }
}

@media (max-width: 1136px) {
  .firstBlockMain {
    margin-left: 100px;
  }
  .logo {
    margin-left: 103px;
  }
  .fifthBlock {
    height: 837px;
  }
  .fifthBlockMain {
     transform: scale(0.6);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 100px;
  }
  .fifthBlockRightDown {
    top: -1px;
  }
}

@media (max-width: 1036px) {
  .containerSticky{
    height: 3500px;
  }
  #secondBlockMenu {
    transform: rotate(90deg);
    float: right;
  /* padding-right: 200px; */
  }
  .thirdBlockQuestion {
    display: block;
  }

.fifthBlockRightUp > h2:nth-child(1) {
  line-height: 60px;
}

.fifthBlockMain {
  /* max-width: 1720px; */
}

.fifthBlockRightDown > div:nth-child(2) {
  /* justify-content: space-around; */
  /* width: 570px; */
  justify-content: space-between;
  width: 100%;
  max-width: 646px;
}

input[type="phone"] {
  margin-left: 60px;
}

.fifthBlockRightDown {
  border: none;
}

.submitPhone > img:nth-child(1) {
  height: 84px;
}

  .firstBlockMain {
    margin-left: 60px;
  }

  .logo {
    margin-left: 63px;
  }

  .firstBlockButtons {
    display: none;
  }

  .firstBlockRightMenu {
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }

  .thirdBlockRight {
    padding-left: 60px;
  }

  .secondBlockRight {
    margin-left: 60px;
  }


.fifthBlockLeftUp {
  display: none;
}

.fifthBlockMain {
  flex-direction: column-reverse;
  margin-top: 600px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  width: 676px;
  font-size: 50px;
}

.fifthBlockRightDown {
  display: flex;
  flex-direction: column;
}


.fifthBlockRightDown > p:nth-child(1) {
display: block;
}

.fifthBlockRightUp > p:nth-child(2) {
  display: none;
}

.fifthBlockRightDown > p:nth-child(1) {
  font-size: 16px;
  line-height: 25px;
  margin-left: 60px;
  max-width: 400px;
  margin-top: 60px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  margin: 0px 50px;
}

.firstBlockMain > h1:nth-child(1) {
max-width: 855px;
font-size: 60px;
}

.circleContainer {
display: none;
}
.toUpButton {
  display: block;
  background-color: #181ACF;
  padding: 12px 30px;
  width: 65px;
  color: white;
}

.fifthBlockLeftSocial > p:nth-child(3) {
position: relative;
left: -70%;
}
.thirdBlockRight {
margin-top: 47px;
}

.thirdBlockQuestion {
position: relative;
top: 200px;
left: 35%;
}

#circle {
margin-left: 0px;
}

}

@media (max-width: 840px) {
  #fourthBlockMainFirst {
    margin-bottom: 50px;
  }
  .fifthBlockRightUp {

margin-bottom: 35px;
}
  .fourthBlockMainSecond {
    margin-top: 0px;
  }

  .fourthBlockMainThird > a:nth-child(3) {
    position: relative;
    left: 80%;
  }

  .fourthBlockMainFourth > a:nth-child(3) {
    right: 201px;
    top: 85px;
  }
}



@media (max-width: 830px) {
.trekutnik {
top: 75px;
}
}

@media (max-width: 758px) {

  .secondBlockRight > h2:nth-child(1) {
    font-size: 35px;
    line-height: 35px;
  }
  .fourthBlockOurs {
margin: 40px auto;
margin-top: 0px;
}
  .checkAllCases {
    margin: 0 auto;
  }
  .thirdBlockQuestion {
    transform: scale(0.8);
  }
  .containerSticky{
    height: 4500px;
  }
  .trekutnik {
    top: 28px;
  }
  .fourthBlockMain {
    display: block;
  }
  .fourthBlockOurs {
    width: 500px;
  }
  .firstBlockMain > h1:nth-child(1) {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;
  }
  .trekutnik {
    top: 175px;
  }
  .fourthBlockMainFourth > a:nth-child(3) {
  right: 0px;
  }
  .fourthBlock {
    padding-left: 0;
  }
  .fourthBlockMain > div:nth-child(2n+1) {
    margin-right: 0px;
  }
  .fourthBlockOurs {
    width: auto;
  }

}

@media (max-width: 710px) {
  .thirdBlockRight > h2:nth-child(1) {
    margin-top: 180px;
  }
  .fourthBlockOurs {
    font-size: 30px;
  }
  #toUpButton {
    display: none;
  }
  #toUpButtonBottom {
    display: block;
    position: absolute;
    right: 0;
    margin-right: -41px;
    margin-top: 753px;
    transform: rotate(90deg);
    float: right;
    z-index: 1;
  }
  .thirdBlockList .thirdBlockDigital {
    height: 186px;
  }
  .thirdBlockListName {
    font-size: 20px;
  }
  .thirdBlockList div {
    margin-top: 12px;
  }
  .thirdBlockQuestion {
    top: -85px;
  }
  .thirdBlockRight {
    margin-top: 53px;
  }
  #circle {
    position: inherit;
    margin: 0 auto;
    /* left: 28%; */
    /* margin: 40px -12%; */
  }

  .thirdBlockRight > h2:nth-child(1) {
    font-size: 30px;
  }
  .firstBlockMainCenter {
      margin-left: 0px;
  }
  .thirdBlockList {
    flex-direction: column;
  }

  .thirdBlockQuestion {
    top: 200px;
    top: 348px;
  }

  .trekutnik {
    top: 34px;
  }

  /* style.css | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/css/style.css */

  .thirdBlockList li {
    /* margin-bottom: 30px; */
    margin-bottom: 15px;
  }

  .thirdBlockList div {
    width: 420px;
    height: 236px;
    margin: 0 auto;
    width: auto;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockDevelopment > h2:nth-child(1) {
    margin-top: 0px;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockDigital > h2:nth-child(1) {
    margin-top: 0px;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRight {
    /* text-align: -moz-right; */
    padding-left: 10px;
    text-align: center;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRightMain {
    margin: 0 auto;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRight > h2:nth-child(1) {
    margin-bottom: 0px;
  }



.firstBlockMain > p:nth-child(3) {
  text-align: center;
}

.firstBlockMainButtons {
  display: flex;
  flex-direction: column;
}

.firstBlockMain {
  margin-left: 0px;
}

.firstBlockMainCenter {
  margin-left: 20px;
}

.firstBlockRightUkr {
  display: none;
}

.firstBlockRightRus {
  display: none;
}

.firstBlockMainButtons a {
  margin: 10px 20px;
  text-align: center;
}

.thirdBlockRight {
  padding: 0;
}

.thirdBlockList ul {
  padding-left: 0px;
}

.thirdBlockList div {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.thirdBlockList h2 {
  margin-bottom: 8px;
}
.fifthBlockLeftDown, .fifthBlockLeftSocialContainer  {
  flex-direction: column;
}
.fifthBlockLeftDown div{
  margin: 0 auto;
}
.fifthBlockLeftSocial > p:nth-child(3) {
  left: -25%;
}
.fifthBlockLeftContacts {
  text-align: center;
}
  .fifthBlock {
    height: 950px;
  }

  .fifthBlockRightDown > p:nth-child(1) {
    font-size: 30px;
  }
/* button, input, optgroup, select, textarea {
  font-size: 30px;
} */
.fifthBlockRightDown > p:nth-child(1) {
  max-width: none;
}
input[type="phone"] {
  font-size: 32px;
}
.fifthBlockLeftDown {
transform: scale(1.6);
margin-top: 180px;
}
.fifthBlock {
  /* height: 950px; */
  height: 1058px;
}
.fifthBlockLeftSocial {
margin-bottom: 20px;
}
.fifthBlock {
overflow-y: hidden;
}
.fifthBlockLeftSocial > p:nth-child(3) {
margin-bottom: 50px;
}
#toUpButtonBottom {
margin-top: 973px;
}
}

@media (max-width: 456px) {

  .firstBlockMainCenter, .firstBlockMainCenter div {
display: flex;
margin-left: 5px;
}
.firstBlockMainCenter > div > p {
width: auto;
}

.firstBlockMainCenter > div {
text-align: center;
}

.firstBlockRightPhone {
  display: none;
}

  .logo {
    /* margin-left: 63px; */
    margin-left: 33px;
  }

  .trekutnik {
    /* top: 28px; */
    top: 145px;
  }

  .firstBlockMain {
    margin-top: 40px;
  }


}
@media (max-width: 406px) {
  .firstBlockMainCenter {
    font-size: 15px;
  }

  .trekutnik {
    top: 218px;
  }
  .secondBlockRight > h2:nth-child(1) {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
  }

  .trekutnik {
    border: 105px solid transparent;
    border-left: 900px solid white;
    border-bottom: 0px solid transparent;
  }
    .secondBlockRight {
    margin-left: 0px;
    text-align: center;
  }
  .secondBlockRight > div {
    display: block;
  }

  .thirdBlockRight {
    margin: 58px auto;
  }
}

@media (max-width: 405px) {

  /* .trekutnik {
    top: 174px;
  } */
  .fifthBlockRightDown, .fifthBlockRightUp{
    transform: scale(0.9);
  }

  .fifthBlockMain {
    margin-top: 491px;
  }
}
@media (max-width: 380px) {
  .trekutnik {
    top: 143px;
  }
}
