@media (max-width: 1767px) {
  .fourthBlock {
    -webkit-transform: scale(0.9) translate(-4.5%, -18% );
    -moz-transform: scale(0.9) translate(-4.5%, 18% );
    height: 1300px;
  }
  .fifthBlockRightDown {
    right: 1px;
    top: -0.5px;
  }
  .containerSticky {
    height: 3890px;
  }
  .circleContainer {
    transform: scale(0.7);
  }
}

@media (max-width: 1575px) {
  .fifthBlock {
    height: 1237px;
  }
  .fifthBlockMain {
     transform: scale(0.9);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 300px;
  }
}

@media (max-width: 1548px) {
  .fourthBlock {
    -webkit-transform: scale(0.8) translate(-4.5%, -20% );
    -moz-transform: scale(0.8) translate(-7%, 20% );
    height: 1150px;
  }
}

@media (max-width: 1485px) {
  .fourthBlock {
    -webkit-transform: scale(0.7) translate(-7%, -30% );
    -moz-transform: scale(0.7) translate(-7%, 30% );
    height: 1050px;
  }
  .containerSticky {
    height: 3455px;
  }
}

@media (max-width: 1422px) {
  .fifthBlock {
    height: 1037px;
  }
  .fifthBlockMain {
     transform: scale(0.8);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 200px;
  }
}

@media (max-width: 1386px) {
  .thirdBlockImage > img:nth-child(1) {
  width: 300px;
  }
  .firstBlockRightPhone {
    padding-left: 10px;
  }
  .firstBlockButtons {
    width: 373px;
  }
  .firstBlockButtons {
      margin-right: 72px;
  }
}

@media (max-width: 1230px) {
  .fourthBlock {
    height: 900px;
    -webkit-transform: scale(0.6) translate(-7%, -50% );
    -moz-transform: scale(0.6) translate(-7%, 50% );
  }
}

@media (max-width: 1356px) {
  .trekutnik {
    top: 126px;
  }
}



@media (max-width: 1290px) {

  .firstBlockRight {
      padding-right: 30px;
  }

}

@media (max-width: 1269px) {
  .fifthBlock {
    height: 937px;
  }
  .fifthBlockMain {
     transform: scale(0.7);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 150px;
  }
}

@media (max-width: 1244px) {
  .thirdBlockImage > img:nth-child(1) {
  display: none;
  }
}

@media (max-width: 1136px) {
  .firstBlockMain {
    margin-left: 100px;
  }
  .logo {
    margin-left: 103px;
  }
  .fifthBlock {
    height: 837px;
  }
  .fifthBlockMain {
     transform: scale(0.6);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 100px;
  }
}

@media (max-width: 1036px) {

.fifthBlockRightUp > h2:nth-child(1) {
  line-height: 60px;
}

.fifthBlockMain {
  /* max-width: 1720px; */
}

.fifthBlockRightDown > div:nth-child(2) {
  /* justify-content: space-around; */
  /* width: 570px; */
  justify-content: space-between;
  width: 100%;
  max-width: 646px;
}

input[type="phone"] {
  margin-left: 60px;
}

.fifthBlockRightDown {
  border: none;
}

.submitPhone > img:nth-child(1) {
  height: 50px;
}

  .firstBlockMain {
    margin-left: 60px;
  }

  .logo {
    margin-left: 63px;
  }

  .firstBlockButtons {
    display: none;
  }

  .firstBlockRightMenu {
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }
  .fourthBlock {
    -webkit-transform: scale(0.6) translate(-45%, -60% );
    -moz-transform: scale(0.6) translate(-45%, 60% );
    height: 800px;
    padding-left: 25%;
  }

  .thirdBlockRight {
    padding-left: 60px;
  }

  .secondBlockRight {
    margin-left: 60px;
  }


.fifthBlockLeftUp {
  display: none;
}

.fifthBlockMain {
  flex-direction: column-reverse;
  margin-top: 600px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  width: 676px;
  font-size: 50px;
}

.fifthBlockRightDown {
  display: flex;
  flex-direction: column;
}


.fifthBlockRightDown > p:nth-child(1) {
display: block;
}

.fifthBlockRightUp > p:nth-child(2) {
  display: none;
}

.fifthBlockRightDown > p:nth-child(1) {
  font-size: 16px;
  line-height: 25px;
  margin-left: 60px;
  max-width: 400px;
  margin-top: 60px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  margin: 0px 50px;
}

.firstBlockMain > h1:nth-child(1) {
max-width: 855px;
font-size: 60px;
}

.secondBlockLeftMenu {
display: none;
}

.fifthBlockLeftSocial > p:nth-child(3) {
position: relative;
left: -70%;
}

}

@media (max-width: 840px) {
  .fourthBlock {
    -webkit-transform: scale(0.6) translate(-54%, -89% );
    -moz-transform: scale(0.5) translate(-54%, 89% );
    height: 560px;
  }

  .fourthBlockMainSecond {
    margin-top: 0px;
  }

  .fourthBlockMainThird > a:nth-child(3) {
    position: relative;
    left: 80%;
  }
}

@media (max-width: 758px) {
.firstBlockMain > h1:nth-child(1) {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 20px;
  text-align: center;
}

.firstBlockMain > p:nth-child(3) {
  text-align: center;
}

.firstBlockMainButtons {
  display: flex;
  flex-direction: column;
}

.firstBlockMain {
  margin-left: 0px;
}

.firstBlockMainCenter {
  margin-left: 20px;
}

.firstBlockRightUkr {
  display: none;
}

.firstBlockRightRus {
  display: none;
}

.firstBlockMainButtons a {
  margin: 10px 20px;
  text-align: center;
}

}

@media (max-width: 830px) {
.trekutnik {
top: 75px;
}
}

@media (max-width: 758px) {
.trekutnik {
top: 28px;
}
}
