@media (max-width: 1767px) {
  .fourthBlock {
    -webkit-transform: scale(0.9) translate(-4.5%, -18% );
    -moz-transform: scale(0.9) translate(-4.5%, 18% );
    height: 1300px;
  }
  .fifthBlockRightDown {
    right: 1px;
    top: 0px;
  }
  .containerSticky {
    height: 3890px;
  }
  .circleContainer {
    transform: scale(0.7);
  }
}

@media (max-width: 1575px) {
  .fifthBlock {
    height: 1237px;
  }
  .fifthBlockMain {
     transform: scale(0.9);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 300px;
  }
  .fifthBlockRightDown {
    top: -1px;
  }
}

@media (max-width: 1548px) {
  .fourthBlock {
    -webkit-transform: scale(0.8) translate(-4.5%, -20% );
    -moz-transform: scale(0.8) translate(-7%, 20% );
    height: 1150px;
  }
}

@media (max-width: 1485px) {
  .fourthBlock {
    -webkit-transform: scale(0.7) translate(-7%, -30% );
    -moz-transform: scale(0.7) translate(-7%, 30% );
    height: 1050px;
  }
  .containerSticky {
    height: 3455px;
  }
}

@media (max-width: 1422px) {
  .fifthBlock {
    height: 1037px;
  }
  .fifthBlockMain {
     transform: scale(0.8);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 200px;
  }
  .fifthBlockRightDown {
    top: 0px;
  }
}

@media (max-width: 1386px) {
  .thirdBlockImage > img:nth-child(1) {
  width: 300px;
  }
  .firstBlockRightPhone {
    padding-left: 10px;
  }
  .firstBlockButtons {
    width: 373px;
  }
  .firstBlockButtons {
      margin-right: 72px;
  }
}

@media (max-width: 1230px) {
  .fourthBlock {
    height: 900px;
    -webkit-transform: scale(0.6) translate(-7%, -50% );
    -moz-transform: scale(0.6) translate(-7%, 50% );
  }
}

@media (max-width: 1356px) {
  .trekutnik {
    top: 126px;
  }
}



@media (max-width: 1290px) {

  .firstBlockRight {
      padding-right: 30px;
  }

}

@media (max-width: 1269px) {
  .fifthBlock {
    height: 937px;
  }
  .fifthBlockMain {
     transform: scale(0.7);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 150px;
  }
}

@media (max-width: 1244px) {
  .thirdBlockImage > img:nth-child(1) {
  display: none;
  }
}

@media (max-width: 1136px) {
  .firstBlockMain {
    margin-left: 100px;
  }
  .logo {
    margin-left: 103px;
  }
  .fifthBlock {
    height: 837px;
  }
  .fifthBlockMain {
     transform: scale(0.6);
  }
  .fifthBlockRight, .fifthBlockLeft {
    margin-top: 100px;
  }
  .fifthBlockRightDown {
    top: -1px;
  }
}

@media (max-width: 1036px) {

.fifthBlockRightUp > h2:nth-child(1) {
  line-height: 60px;
}

.fifthBlockMain {
  /* max-width: 1720px; */
}

.fifthBlockRightDown > div:nth-child(2) {
  /* justify-content: space-around; */
  /* width: 570px; */
  justify-content: space-between;
  width: 100%;
  max-width: 646px;
}

input[type="phone"] {
  margin-left: 60px;
}

.fifthBlockRightDown {
  border: none;
}

.submitPhone > img:nth-child(1) {
  height: 50px;
}

  .firstBlockMain {
    margin-left: 60px;
  }

  .logo {
    margin-left: 63px;
  }

  .firstBlockButtons {
    display: none;
  }

  .firstBlockRightMenu {
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }
  .fourthBlock {
    -webkit-transform: scale(0.6) translate(-45%, -60% );
    -moz-transform: scale(0.6) translate(-45%, 60% );
    height: 800px;
    padding-left: 25%;
  }

  .thirdBlockRight {
    padding-left: 60px;
  }

  .secondBlockRight {
    margin-left: 60px;
  }


.fifthBlockLeftUp {
  display: none;
}

.fifthBlockMain {
  flex-direction: column-reverse;
  margin-top: 600px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  width: 676px;
  font-size: 50px;
}

.fifthBlockRightDown {
  display: flex;
  flex-direction: column;
}


.fifthBlockRightDown > p:nth-child(1) {
display: block;
}

.fifthBlockRightUp > p:nth-child(2) {
  display: none;
}

.fifthBlockRightDown > p:nth-child(1) {
  font-size: 16px;
  line-height: 25px;
  margin-left: 60px;
  max-width: 400px;
  margin-top: 60px;
}

.fifthBlockRightUp > h2:nth-child(1) {
  margin: 0px 50px;
}

.firstBlockMain > h1:nth-child(1) {
max-width: 855px;
font-size: 60px;
}

.secondBlockLeftMenu {
display: none;
}

.fifthBlockLeftSocial > p:nth-child(3) {
position: relative;
left: -70%;
}
.thirdBlockRight {
margin-top: 47px;
}
}

@media (max-width: 840px) {
  .fourthBlock {
    -webkit-transform: scale(0.5) translate(-54%, -89% );
    -moz-transform: scale(0.5) translate(-54%, 89% );
    height: 560px;
  }

  .fourthBlockMainSecond {
    margin-top: 0px;
  }

  .fourthBlockMainThird > a:nth-child(3) {
    position: relative;
    left: 80%;
  }

  .fourthBlockMainFourth > a:nth-child(3) {
    right: 201px;
    top: 85px;
  }
}



@media (max-width: 830px) {
.trekutnik {
top: 75px;
}
}

@media (max-width: 758px) {
  .trekutnik {
    top: 28px;
  }
  .fourthBlockMain {
    display: block;
  }
  .fourthBlock {
    -webkit-transform: scale(0.5) translate(-54%, -408% );
    -moz-transform: scale(0.5) translate(-54%, 89% );
    top: 10px;
    margin-top: 800px;
  }
  .fourthBlockOurs {
    width: 500px;
  }
  .firstBlockMain > h1:nth-child(1) {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;
  }
  .trekutnik {
    top: 175px;
  }
  .fourthBlockMainFourth > a:nth-child(3) {
  right: 0px;
  }
  /* .fourthBlockMain div {
    margin: 0 auto;
  } */
  /* .thirdBlock {
    height: 1370px;
  } */
}

@media (max-width: 710px) {

  .trekutnik {
    top: 34px;
  }

  /* style.css | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/css/style.css */

  .thirdBlockList li {
    /* margin-bottom: 30px; */
    margin-bottom: 15px;
  }

  .thirdBlockList div {
    width: 420px;
    height: 236px;
    margin: 0 auto;
    width: auto;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockDevelopment > h2:nth-child(1) {
    margin-top: 0px;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockDigital > h2:nth-child(1) {
    margin-top: 0px;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRight {
    /* text-align: -moz-right; */
    padding-left: 10px;
    text-align: center;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRightMain {
    margin: 0 auto;
  }

  /* Элемент | file:///G:/NextCloud/Projects/WORK/Puzzle(copy/index.html */

  .thirdBlockRight > h2:nth-child(1) {
    /* margin-top: 0px; */
    margin-bottom: 0px;
  }



.firstBlockMain > p:nth-child(3) {
  text-align: center;
}

.firstBlockMainButtons {
  display: flex;
  flex-direction: column;
}

.firstBlockMain {
  margin-left: 0px;
}

.firstBlockMainCenter {
  margin-left: 20px;
}

.firstBlockRightUkr {
  display: none;
}

.firstBlockRightRus {
  display: none;
}

.firstBlockMainButtons a {
  margin: 10px 20px;
  text-align: center;
}

.thirdBlockRight {
  padding: 0;
}

.thirdBlockList ul {
  padding-left: 0px;
}

.thirdBlockList div {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.thirdBlockList h2 {
  margin-bottom: 8px;
}
}

@media (max-width: 456px) {
  .firstBlockMainCenter {
      margin-left: 0px;
  }
  .firstBlockMainCenter, .firstBlockMainCenter div {
display: flex;
margin-left: 5px;
}
.firstBlockMainCenter > div > p {
width: auto;
}

.firstBlockMainCenter > div {
text-align: center;
}

.firstBlockRightPhone {
  display: none;
}

  .logo {
    /* margin-left: 63px; */
    margin-left: 33px;
  }

  .trekutnik {
    /* top: 28px; */
    top: 145px;
  }

  .firstBlockMain {
    margin-top: 40px;
  }
  .firstBlockMainCenter, .firstBlockMainCenter div {

}
}
@media (max-width: 406px) {
  .firstBlockMainCenter {
    font-size: 15px;
  }

  .trekutnik {
    top: 218px;
  }
  .secondBlockRight > h2:nth-child(1) {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
  }

  .trekutnik {
    border: 105px solid transparent;
    border-left: 900px solid white;
    border-bottom: 0px solid transparent;
  }
    .secondBlockRight {
    margin-left: 0px;
    text-align: center;
  }
  .secondBlockRight > div {
    display: block;
  }
  .thirdBlockRight > h2:nth-child(1) {
    font-size: 30px;
  }
  .thirdBlockRight {
    margin: 178px auto;
    margin: 108px auto;
  }
}

@media (max-width: 405px) {
  .trekutnik {
    top: 174px;
  }
  .fifthBlockMain {
  transform: scale(0.5);
  }
  .fifthBlock {
    height: 650px;
  }
  .fifthBlockMain {
    margin-top: 491px;
  }
}
@media (max-width: 380px) {
  .trekutnik {
    top: 143px;
  }
}
/*
@media (max-width: 354px) {
  .trekutnik {
    top: 110px;
  }
}

@media (max-width: 354px) {
  .trekutnik {
    top: 90px;
  }
} */
