* {
  font-family: 'Gotham Pro';
  font-weight: 300;
  /* overflow-y: hidden; */
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

html {
  /* scroll-behavior: smooth; */
  /* overflow-y: visible;
  overflow-x: scroll; */
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  /* overflow-x: hidden; */
}

.firstBlock {
  background-image: url(../img/firstBlockNew.png);
  height: 1002px;
  overflow: hidden;
}

.thirdBlockLines {
overflow: hidden;
}
.fifthBlock {
overflow-x: hidden;
}

.firstBlockLeft {
  display: flex;
  max-width: 980px;
  width: 100%;
  justify-content: space-between;
}
.firstBlockTop {
  display: flex;
  justify-content: space-between;
}

.firstBlockRight p {
  text-align: center;
  font-weight: 600;
  margin-top: 34px;
  font-size: 18px;
  margin-left: 20px;
  height: 30px;
}

.selectedLang {
  border-bottom: 3px solid #3335CF;
}

.firstBlockRightPhone {
  padding-left: 80px;
  width: 186px;
}

.firstBlockRightPhone a {
  font-weight: bold;
}

.firstBlockMainCenter, .firstBlockMainCenter div {
display: flex;
flex-wrap: wrap;
}

.firstBlockMainCenter>div>p {
  width: 340px;
}

.firstBlockMainCenter img {
  margin-right: 15px;
}

.firstBlockMainCenter {
 width: 101%;
}

.firstBlockMain > h1:nth-child(1) {
 max-width: 1139px;
 font-weight: bold;
 font-size: 80px;
 line-height: 105px;
}

.logo {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 203px;
  margin-top: 26px;
}

.firstBlockRight {
 height: 68px;
 display: flex;
 padding-right: 100px;
 height: 68px;
 color: white;
}

.firstBlockRightMenu {
  display: none;
}

.firstBlockCenter {
margin-top: 44px;
font-size: 18px;
line-height: 17px;
}

.firstBlockButtons {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  width: 561px;
  margin-top: 35px;
  margin-left: 30px;
}

.firstBlockMain h1{
  font-weight: 300;
  font-family: Gotham Pro;
  font-style: normal;
  font-size: 100px;
  line-height: 120px;
  margin: 0;
}

.firstBlockButtons a{
 font-weight: 600;
}

.firstBlockMain {
  max-width: 1166px;
  margin-left: 200px;
  margin-top: 157px;
  color: white;
}

.firstBlockMain > p:nth-child(1) {
  margin: 0;
}

.firstBlockMain > p:nth-child(3) {
  font-size: 18px;
  line-height: 32px;
  max-width: 597px;
}

.firstBlockMainButtons a{
  color: white;
  padding: 22px 66px;
  border-radius: 20px;
  font-weight: bold;
}

.firstBlockMainButtons > a:nth-child(1) {
 background-color: #5455C8;
 margin-right: 30px;
}

.firstBlockMainButtons > a:nth-child(2) {
 border: 1px solid white;
}

.firstBlockMainButtons {
  margin-top: 60px;
}

.menu:hover {
  cursor: pointer;
}

.bold, .boldMenu {
  font-weight: bold;
}

.boldMenu {
  color: gray;
}

.secondBlock {
display: flex;
max-width: 1505px;
margin: 0 auto;
justify-content: space-between;
}

.secondBlockRight {
max-width: 1045px;
}

.secondBlockRight>div{
  display: flex;
}

.secondBlockRight div .blue {
  margin-top: 20px;
  margin-right: 50px;
  font-size: 26px;
}

.blue {
  color: #3335CF;
}

.secondBlockRight img {
max-width: 109px;
max-height: 109px;
}

.secondBlockRight>div>div {
  margin-top: 14px;
  margin-right: 10px;
}

.secondBlockRight > h2:nth-child(1) {
  font-size: 55px;
  line-height: 60px;
  font-weight: 600;
  max-width: 752px;
}

span.blue {
  font-weight: 600;
}

.secondBlockRight>div>div>p{
  font-size: 18px;
  line-height: 32px;
}

.secondBlockLeftMenu p{
  margin-bottom: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.gray {
  color: #BCBCBC;
}
.secondBlockLeft {
  height: 0px;
  position: sticky;
  top: 70px;
  z-index: 1;
}

.secondBlockRight > h2:nth-child(1) {
  margin-top: 0px;
  color: black;
}

.secondBlockLeftMenu {
  max-width: 200px;
  margin-left: 100px;
}

.secondBlockRight {
  margin-left: 300px;
}

.containerSticky {
  height: 4343px;
}

.thirdBlock {
  background-image: url(../img/thirdBlock.png);
  height: 1532px;
  margin-top: 100px;

  background-repeat: no-repeat;
}


.thirdBlockLines div {
  margin-bottom: 30px;
}

.firstLine, .secondLine, .thirdLine {
  background-color: #0f0f0f;
  height: 10px;
  rotate: 4deg;
  z-index: -1;
}

.firstLine {
  width: 100px;
}

.secondLine {
  width: 150px;
}

.thirdLine {
  width: 500px;
}

.thirdBlockLines {
  position: relative;
  left: -50px;
  z-index: 0;
}

.thirdBlockLines div {
  transition: 2.5s;
}

.thirdBlockRight {
  color: white;
  /* padding-left: 239px; */
  margin-top: 60px;
  max-width: 1260px;
  /* margin-top: 178px;
  margin-left: 300px;
  margin-right: auto; */
  padding-left: 341px;
  margin: 178px auto;
}

.thirdBlockList {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: space-between;
}

.thirdBlockQuestion {
  display: none;
}

.thirdBlockList div{
  width: 325px;
  height: 320px;
}

.thirdBlockList a {
  color: white;
}

.thirdBlockRight {
  display: flex;
}

.thirdBlockRight {
  flex-direction: column;
}

.thirdBlockRightMain {
  display: flex;
}

.thirdBlockList li {
  margin-bottom: 30px;
}

.thirdBlockList ul {
  padding-left: 20px;
}

.thirdBlockRight > h2:nth-child(1) {
  font-size: 55px;
  font-weight: 400;
}

.thirdBlockListName {
  font-size: 35px;
  font-weight: 400;
}

.fourthBlockMainFirst, .fourthBlockMainSecond, .fourthBlockMainThird, .fourthBlockMainFourth {
  height: 700px;
  width: 580px;
}

.fourthBlockMainFirst {
  background-image: url(../img/fourthBlock11.png);
}

.fourthBlockMainSecond {
  background-image: url(../img/fourthBlock21.png);
}

.fourthBlockMainThird {
  background-image: url(../img/fourthBlock31.png);
  margin-top: 70px;
}

.fourthBlockMainFourth {
  background-image: url(../img/fourthBlock41.png);
}

.fourthBlockMain {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1360px;
}

.fourthBlockMain>div {
  margin-bottom: 100px;
  margin-right: 100px;
}

.fourthBlockMainSecond, .fourthBlockMainFourth {
  margin-top: 70px;
}
.checkAllCases {
  display: flex;
  color: black;
  position: relative;
  top: -130px;
}

.checkAllCases p {
  font-size: 22px;
  font-weight: 400;
}

.checkAllCases img {
  margin-left: 15px;
}

/* .fourthBlockMainFourth .fourthBlockMainFirstDiv{
  margin-bottom: 41px;
} */
.fourthBlockMainFirstDiv{
  max-width: 488px;
  margin: 50px auto;
}

.fourthBlockOurs {
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  margin-top: 0px;
}

.fourthBlockMainText {
  color: white;
  padding-top: 50px;
  padding-left: 50px;
}

.fourthBlockMainFirst div {
  max-width: 488px;
  margin: 50px auto;
}

.fourthBlockMainSecond > div:nth-child(2) {
  max-width: 470px;
  margin: 100px auto;
}

.fourthBlockMainThird > div:nth-child(2) {
  max-width: 455px;
  margin: 70px auto;
}

.fourthBlockMainFourth > div:nth-child(2) {
  max-width: 307px;
  margin: 0 auto;
}

.fifthBlock {
  background-image: url(../img/fifthBlock.png);
  height: 1437px;
  display: flex;
  justify-content: space-around;
}

.fourthBlock {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 auto;
  /* margin-left: 28.5%; */
  padding-left: 23%;
}

.fifthBlock p, h2{
  color: white;
}

.fifthBlock, .fifthBlockLeftDown {
  display: flex;
}

.fifthBlockLeftDown>div>div {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
}

.fifthBlockLeftSocial>div>div>a {
  display: flex;
}

.fifthBlockRight, .fifthBlockLeft {
  margin-top: 500px;
}

.fifthBlockLeftUp img {
  border: 1px solid white;
}

.fifthBlockLeft h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 33px;
}

.fifthBlockLeftDown {
  display: flex;
  justify-content: space-around;
}

.fifthBlockLeftDown {
  display: flex;
  justify-content: space-around;
}

.fourthBlockOurs {
  color: black;
}

.fifthBlockLeftSocialContainer>div {
  margin-right: 20px;
  margin-bottom: 20px;
}

.fifthBlockLeftDown img{
  margin-right: 10px;
}

.vodafone img {
  margin-left: 4px;
}

.fifthBlockMain {
  display: flex;
  max-width: 1720px;
  margin: 0 auto;
}

.fifthBlockRightUp > h2:nth-child(1) {
  font-size: 70px;
  line-height: 90px;
  font-weight: 600;
  width: 479px;
  margin-left: 100px;
}

.fifthBlockRightUp > p:nth-child(2) {
  max-width: 455px;
  font-size: 21px;
  line-height: 30px;
  margin-left: 100px;
}

.fifthBlockRightUp {
  margin-bottom: 79px;
}

.fifthBlockRightDown {
  display: flex;
  border: 1px solid white;
}

input[type=phone] {
  background-color: #3335CF;
  border: 0px solid white;
  outline: none;
  color: white;
  margin: 1px 0;
}

input[type=phone]:focus {
  border: 0px solid white;
  outline: none;
}



.fifthBlockRightDown {
background-color: #3335CF;
position: relative;
right: 1px;
top: -1px;
}

.fifthBlockRightDown {
  justify-content: space-around;
  max-height: 244px;
  height: 100%;
}

.submitPhone {
  max-height: 100px;
  margin: auto 0;
}

.fifthBlockLeftSocial > p:nth-child(3) {
 float: right;
 color: #929292;
 font-size: 16px;
 line-height: 15px;
 margin-top: 55px;
 margin-bottom: 0px;
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trekutnik {
  height: 36px;
  /* position: relative;
  top: 155.6px; */
  position: absolute;
  top: 825px;
  border: 170px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 1903px solid white;
}

.fifthBlockRightDown > p:nth-child(1) {
display: none;
}

.fifthBlockRightDown > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 570px;

}

.preloader{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background: black;
  z-index: 100;
  transition: 0.5s;
}

.preloaderLogo{
  font-weight: bold;
  transition: 0.5s;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 110px;
  margin-left: -165px;
  margin-top: -55px;
    /* background: url('img/prel.gif') no-repeat 50% 50%; */
    background-size: 200px;
    z-index: 101;
    color: white;
  }
.loaded .preloader {
  display: none;
}

#circle {
  background-color: #3335CF;
  color: white;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  text-align: center;
  margin-left: 40px;
  margin-top: 40px;
}

#circleQuestion {
  padding-top: 85px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

#secodLineCircle {
  width: 258px;
  height: 258px;
  border: 1px solid #3335CF;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}

#firstLineCircle {
  width: 298px;
  width: 298px;
  height: 298px;
  border: 1px solid #3335CF;
  border-radius: 50%;
}

#secondBlockMenu *{
  position: absolute;
/* transition: 1.2s; */
}

#firstLineCircle, #secodLineCircle {
  transition-property: opacity;
  transition-duration: 0.6s;
}


.trekutnik {
  height: 36px;
  position: relative;
  top: 175px;
  border: 170px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 1920px solid white;
}

.toUpButton {
  display: none;
  cursor: pointer;
}

#toUpButtonBottom {
  display: none;
  cursor: pointer;
}

.fourthBlockMainDiv, .fourthBlockMainFirstImg {
  transition: 0.5s;
}

.fourthBlockMainFirstDiv {
  display: none;
}

.h2FourthBlock {
  font-size: 30px;
  line-height: 29px;
  font-weight: 400;
}

.pFourthBlock {
  font-size: 18px;
  line-height: 25px;
  color: white;
  width: 469px;
  margin-bottom: 57px;
}

.aFourthBlock {
  padding: 21px 69px;
  background-color: #181ACF;
  border-radius: 10px;
}
